/* body {font-family: Arial, Helvetica, sans-serif;} */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  color: white;
  display: flex;
  justify-content: space-around;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-text{
  color: black;
  font-weight: bold;
  /* background-color: rgba(255, 255, 255, 0.747); */
  background-color: rgba(255, 255, 255, 0.473);
}
#mymodal img{
  max-width: 40%;
  display: none;
}
#coverImagePic, #id, #renter, #booked{
  display: none;
}



#form{
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 80%;
}

#form *{
  margin: 1px 5px;
  font-size: 2rem;
}

#mymodal{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#synopsis{
  background-color: rgba(255, 255, 255, 0.747);
  font-weight: bold;
}
.rating{
  display: flex;
  gap: 1rem;
  width: 10rem;
  padding: 1rem;
}
.rating img{
  height: 30px;
  padding: 0;
}

/* Button span styling */
#buttonDelete,#buttonSave,#buttonRent{
  /* border: 1px solid black; */
  cursor: pointer;
  padding: 0 4px;
}
#buttonDelete:hover,#buttonSave:hover,#buttonRent:hover{
  background-color: #5CB85C;
  cursor: pointer;
}
#buttonDelete:active,#buttonSave:active,#buttonRent:active{
  background-color: #4df84d;
  margin-left: 1px 1px 0;
        box-shadow: -1px -1px 1px #000;
        outline: 1px solid #000000;

}


/*Media queries*/
@media screen and (max-width: 800px) {
  #mymodal img{
    display: none;
  }
  #form{
    width: 100%;
  }
  #form *{
    font-size: 1.3rem;
  }
  
}
