@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
:root {
    /* --primary-color: #22254b;
  --secondary-color: #373b69; */
    --primary-color: #FFB2A6;
    --secondary-color: #FFF89A;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.col-center-small {
    float: none;
    margin: 0 auto;
    width: 50%;
}

.col-big {
    float: none;
    margin: 0 auto;
    width: 100%;
}

.bg-form {
    background-image: url(../images/logo.png);
    background-color: #cccccc;
    height: 15%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bg-input-padding {
    background-color: #fbffa6d4!important;
    padding: 1rem !important;
    border: 3px solid #93b4d6c5!important;
    margin: 0.5rem!important;
    font-size: 1rem!important;
    font-weight: 500!important;
    line-height: 1!important;
}

.custom-size {
    margin: auto;
    height: 100%;
    width: 95%;
}

.orb {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 33%;
    position: fixed;
    top: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #0084ff26;
    z-index: -1;
}

.right {
    float: right;
}

.left {
    float: left;
    margin-right: 0.5rem;
}

.font-size {
    font-size: 0.78rem;
}

.form-label {
    margin-left: 1rem;
    background-color: #ffffffc2;
    padding: 6px;
    border-radius: 1rem;
}

.screen-darken {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    position: fixed;
}

.navbar {
    position: relative;
    z-index: 15;
}

.navMenuBar {
    display: flex;
    justify-content: space-around;
    gap: 25rem;
    height: 1rem;
}

.navbarMain {
    width: 100%;
    padding: 1rem;
    background-color: #4a4b4dfd;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: aliceblue!important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative!important;
    z-index: 0;
    border-radius: 1.8rem!important;
    border: 5px solid grey;
}

header {
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    background-color: var(--secondary-color);
    height: 2rem;
    border-radius: 1.7rem;
}

#bottonMas {
    float: left;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent!important;
    background-clip: padding-box;
    border: none!important;
    border-radius: 0.3rem;
    outline: 0;
    ;
}

.modal {
    text-align: center;
    padding: 0!important;
}

.modal-body {
    padding: 0rem!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
    /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


/* active tab color */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: #D4D2D2;
    border: 1px solid #666;
    border-style: solid;
}

.nav-tabs {
    border-bottom-color: #666;
}

.nav-tabs>li>a:hover {
    border-bottom-color: #666;
}

textarea {
    resize: none;
    margin-left: 10px;
    margin-right: 10px;
    width: 98%;
    height: 5em;
}


/*Not Needed is in mainStyles*/

.btn {
    background-color: #D9D8D8;
    border-width: 1px;
    border-style: solid;
    border-color: #5E6162;
    font-size: 13px;
}

.btn:hover {
    background-color: #E5E4E4;
    border-color: #098FBB;
}

thead {
    background-color: #F7F7F7;
    width: 100% !important;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #FCD4AC;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #F7F7F7;
}

ul {
    list-style-type: none;
}

.editable {
    background-color: white;
    moz-border-radius: 10px;
    /* Firefox */
    -webkit-border-radius: 10px;
    /* Safari, Chrome */
    -khtml-border-radius: 10px;
    /* KHTML */
    border-radius: 10px;
    /* CSS3 */
}

.editable>ul>li:hover {
    background-color: #B6EBFC
}

.li_selected {
    background-color: black;
    color: white;
}

.container_search {
    position: absolute;
    z-index: 99999999999;
    top: 0px;
    right: 10px;
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 0.97rem;
    /* padding: 0.5rem 0rem; */
    color: #fff;
    line-height: 1.7rem;
    text-align: center;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-count: 6;
    column-gap: 0.5rem;
    height: 100vh;
    position: relative;
    top: 0.5rem;
    border: 3px solid black;
    border-radius: 1.7rem;
}

.movie {
    margin: 1rem;
    background-color: var(--secondary-color);
    background-color: #9ADCFF;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    margin: 0.2rem;
    height: 45vh;
    /* background-color: var(--secondary-color); */
    background-color: #9ADCFF;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    /* border: 3px solid white; */
    border-radius: 10px;
}

.movie-rented {
    margin: 1rem;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    border: 3px solid rgb(246, 87, 158);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    margin: 0.2rem;
    height: 45vh;
    /* background-color: var(--secondary-color); */
    background-color: transparent;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    /* border: 3px solid white; */
    border-radius: 10px;
}

.movie_card {
    padding: 0 !important;
    width: 15rem;
    margin: 14px;
    border-radius: 10px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.movie_card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 20rem;
}

.movie_info {
    color: #5e5c5c;
}

.movie_info i {
    font-size: 20px;
}

.card-title {
    width: 80%;
    height: 4rem;
}

.movie_single {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.2rem;
    /* background-color: var(--secondary-color); */
    background-color: #787c80;
    box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    border: 3px solid #ffb2a6;
    border-radius: 10px;
}

.rating {
    margin-top: -13px;
    margin-left: 7px;
    color: #1d3543;
}

.movie img {
    max-width: 735px;
    max-width: 735px;
    width: 99%;
    border: 1px solid rgba(128, 128, 128, 0.641);
    border-radius: 1rem;
    height: 40vh;
}

select {
    background-color: transparent;
    border: none;
}

.star,
.star-clear {
    padding: 0.1em;
    font-size: 2em;
    cursor: pointer;
}

.movie-info {
    color: #eee;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.2rem;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    background-color: rgb(43 174 219 / 77%);
    padding: 0px;
    position: absolute;
    left: 0;
    bottom: -27px;
    height: 100%;
    width: 100%;
    right: 0;
    max-height: 41%;
    transform: translateY(35%);
    overflow-y: hidden;
    transition: transform 0.3s ease-in;
    text-align: center;
    align-items: baseline;
    font-size: 0.7rem;
}

.movie-info h6 {
    margin-top: -13px;
    margin-left: 7px;
    color: #1d3543;
}

#card-img {
    max-width: 50%;
}

.img-thumbnail {
    max-width: 100%!important;
}

.stars {
    margin-top: -0.5rem;
}

.movie-info span {
    border-radius: 3px;
    font-weight: bold;
    background-color: transparent;
    padding: 0px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 0.7rem;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    flex-direction: row-reverse;
    align-content: flex-start;
}


/*.overview {
    background-color: rgb(247, 244, 246);
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
    background-color: rgba(255, 255, 255, 0.615);
    padding: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 5%;
    transform: translateY(15%);
    overflow-y: hidden;
    transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}
*/


/* stars css brad traversy*/

.stars-outer {
    position: relative;
    display: inline-block;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
}

@media only screen and (max-width:700px) {
    .col-center {
        width: 95%;
        transition: 1s;
    }
    .bg-input-padding {
        margin: 0!important;
        transition: 0.5s;
    }
    main {
        grid-template-columns: repeat(1, 1fr);
        column-count: 1;
        column-gap: 0.5rem;
        height: 587vh;
        transition: 1s;
    }
    .movie {
        overflow: initial;
        height: 76vh;
    }
    .movie img {
        height: 77vh;
    }
}


/* MEDIA-QUERIES-MODAL */

@media only screen and (min-width: 576px) {
    .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto;
    }
}