@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
:root {
    /* --primary-color: #22254b;
  --secondary-color: #373b69; */
    --primary-color: #FFB2A6;
    --secondary-color: #FFF89A;
}

* {
    box-sizing: border-box;
}

.col-center {
    float: none;
    margin: 0 auto;
    width: 50%;
}

.bg-form {
    background-image: url("../img/logo.png");
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 100%;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    ;
}

.bg-input-padding {
    background-color: #ffa6a675!important;
    padding: 1rem !important;
    border: 3px solid #93b4d6c5!important;
    margin: 0.5rem!important;
    font-size: 1rem!important;
    font-weight: 500!important;
    line-height: 1!important;
}

.custom-size {
    margin: auto;
    height: 100%;
    width: 95%;
}

.orb {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 33%;
    position: fixed;
    top: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #0084ff26;
    z-index: 3;
}

.right {
    float: right;
}

.form-label {
    margin-left: 1rem;
    background-color: #ffffffc2;
    padding: 6px;
    border-radius: 1rem;
}

.screen-darken{
  content: ''; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  pointer-events: none;
  z-index:10; opacity:1; 
  visibility:visible;
  position: fixed;
}

/*STARTS NAVBAR /////////////////////////////////////////////////////////////////////////////////////*/

.navbar{
  position: relative;
  z-index: 15; 
}
.navMenuBar{
  display: flex;
  justify-content: space-around;
  gap: 25rem;
  height: 1rem;
}

.navbarMain{
  width: 100%;
  padding: 1rem;
  gap: 0.5rem;
  /*background-color: #3F3C3C;*/
  background-color: #c440a3da;
}

body {
    /*background-color: var(--primary-color);*/
    background: rgb(243,255,147);
    background: linear-gradient(180deg, rgba(243,255,147,1) 0%, rgba(180,237,170,0.8491771708683473) 50%, rgba(9,245,123,0.9724264705882353) 100%);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}
/* STARTS MAIN/////////////////////////////////////////////////////////////////////////////////////////*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#addBtn {

  width: 300px;
  margin: 1rem;
  /*background-color: #9ADCFF;  COLOR AZUL*/
  background: rgb(147,255,249);
  background: linear-gradient(103deg, rgba(147,255,249,1) 0%, rgba(170,177,237,0.8491771708683473) 50%, rgba(230,9,245,1) 100%);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  border: 3px solid rgba(39, 38, 38, 0.863);
  border-radius: 10px;
}
.addimg{
    width: 100%;
    object-fit: contain;
}
.movie {
  width: 300px;
  margin: 1rem;
  /*background-color: #9ADCFF; COLOR AZUL*/
  background-color: #ca51c4da;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  border: 3px solid white;
  border-radius: 10px;
}

.movie img {
    width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
    margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  background-color: #3d3d3d;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
  display: none;
}

.movie-info span.green {
    color: lightgreen;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}

.overview {
  background-color: rgb(247, 244, 246);
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
    transform: translateY(0);
}

@media only screen and (max-width:700px) {
    .col-center {
        width: 95%;
        transition: 1s;
    }
    .bg-input-padding {
        margin: 0!important;
        transition: 0.5s;
    }
}

.movie > img, #addBtn{
    cursor: pointer;
}

.rented{
    position: absolute;
    display: inline;
}
.not-rented{
    display: none;
}

.stars{
    position: absolute;
    display: block;
    padding: 0 .5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}